:root {
  --bg: #e6e6e6;
  --text: #0d0d0d;

  --header-bg: #dcdcdc;
  --header-text: #0d0d0d;
  --header-border: #bfbfbf;

  --modal-bg: #f5f5f5;
  --modal-text: #0d0d0d;
  --modal-title: #0d0d0d;

  --button-bg: #005bbb;
  --button-text: #ffffff;
  --button-border: #005bbb;
}

body[data-theme='dark'] {
  --bg: #121214;
  --text: #eeeeee;

  --header-bg: #222222;
  --header-text: #eeeeee;
  --header-border: #444444;

  --modal-bg: #1e1e1e;
  --modal-text: #dddddd;
  --modal-title: #ffffff;

  --button-bg: transparent;
  --button-text: #909090ff;
  --button-border: #0077ff;
}

body[data-theme='light'] {
  --bg: #e6e6e6;
  --text: #0d0d0d;

  --header-bg: #dcdcdc;
  --header-text: #0d0d0d;
  --header-border: #bfbfbf;

  --modal-bg: #f5f5f5;
  --modal-text: #0d0d0d;
  --modal-title: #0d0d0d;

  --button-bg: #005bbb;
  --button-text: #ffffff;
  --button-border: #005bbb;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text);
  transition: color 0.2s ease;
}
