.footer {
  background-color: var(--header-bg);
  width: 100%;
  color: var(--header-text);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--header-border);
}

.footer__text {
  margin: 4px 0;
}
